<div [hidden]="submitted">
<form #contactForm= "ngForm" (ngSubmit)="onSubmit()">
  <p>
      <label for="Name">Name:</label>
      <input type="text" id="name" name="name" required [(ngModel)]="contact.name" #name="ngModel">
      <span [hidden]="name.valid || name.pristine">This field is required</span>
  </p>
  
  <p>
      <label for="Phone">Phone:</label>
      <input type="text" id="phone" name="phone" required [(ngModel)]="contact.phone">
  </p>
  
  <p>
      <label for="Message">Message:</label>
      <textarea name="message" id="message"  required [(ngModel)]="contact.message"></textarea>
  </p>
  <p>
    <button type="submit" [disabled]="!contactForm.form.valid">Submit</button>
  </p>
</form>
</div>

<div [hidden]="!submitted">
  <p>
    <strong>Name:-</strong>{{contact.name}}
  </p>
  <p>
      <strong>Phone:-</strong>{{contact.phone}}
  </p>
  <p>
        <strong>Message:-</strong>{{contact.message}}
  </p>
  <p>
    <button (click)="submitted=false; contactForm.reset()">Back</button>
  </p>
</div>